In [1]:
# loc- location

# iloc- location by indexing

# purpose- searching in the data

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('IPL Matches 2008-2020.csv')

In [4]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [5]:
df.tail()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [6]:
df.sample()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
126,419117,Cuttack,2010-03-19,A Symonds,Barabati Stadium,0,Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,Deccan Chargers,runs,6.0,N,NaN,BF Bowden,M Erasmus

In [7]:
df.groupby(by=['city','player_of_match']).mean().iloc[:50]

                                     id  neutral_venue  result_margin
city      player_of_match
Abu Dhabi A Nortje         1.216505e+06            0.0       6.000000
          AM Rahane        7.292850e+05            1.0       4.000000
          AT Rayudu        1.216492e+06            0.0       5.000000
          BA Stokes        1.216539e+06            0.0       7.500000
          CV Varun         1.216497e+06            0.0      59.000000
          GJ Maxwell       7.292830e+05            1.0       6.000000
          JC Buttler       1.216533e+06            0.0       7.000000
          JH Kallis        7.292790e+05            1.0      41.000000
          JP Faulkner      7.293150e+05            1.0            NaN
          KA Pollard       1.216503e+06            0.0      48.000000
          KD Karthik       1.216523e+06            0.0       2.000000
          KS Williamson    1.237178e+06            0.0       6.000000
          LH Ferguson      1.216512e+06            0.0            NaN
          MP Stoinis       1.237180e+06            0.0      17.000000
          Mohammed Siraj   1.216494e+06            0.0       8.000000
          PV Tambe         7.293050e+05            1.0       6.000000
          Q de Kock        1.216528e+06            0.0       6.500000
          RA Tripathi      1.216501e+06            0.0      10.000000
          RD Gaikwad       1.216506e+06            0.0       9.000000
          RG Sharma        1.216508e+06            0.0      49.000000
          Rashid Khan      1.216532e+06            0.0      15.000000
          SA Yadav         1.216505e+06            0.0      31.000000
          SK Raina         7.292930e+05            1.0      93.000000
          Sandeep Sharma   7.293070e+05            1.0      23.000000
          Shubman Gill     1.216545e+06            0.0       7.000000
          YS Chahal        1.216514e+06            0.0       8.000000
Ahmedabad AA Jhunjhunwala  4.191180e+05            0.0      34.000000
          AM Rahane        7.818730e+05            0.0      35.000000
          B Kumar          7.339890e+05            0.0      32.000000
          MA Starc         8.297490e+05            0.0       9.000000
          MEK Hussey       7.340170e+05            0.0      25.000000
          NV Ojha          4.191290e+05            0.0      17.000000
          PV Tambe         7.339790e+05            0.0      10.000000
          SE Marsh         8.297410e+05            0.0            NaN
          SPD Smith        8.297210e+05            0.0       7.000000
          V Sehwag         4.191110e+05            0.0       6.000000
          YK Pathan        4.191260e+05            0.0       8.000000
Bangalore AB de Villiers   7.955917e+05            0.0      37.000000
          AC Gilchrist     5.980450e+05            0.0       7.000000
          AD Russell       9.809590e+05            0.0       5.000000
          AJ Tye           1.082621e+06            0.0       7.000000
          AM Rahane        5.483240e+05            0.0      59.000000
          AT Rayudu        5.483670e+05            0.0       5.000000
          Azhar Mahmood    5.483500e+05            0.0       4.000000
          BA Stokes        1.082607e+06            0.0      27.000000
          BB McCullum      3.359820e+05            0.0     140.000000
          BCJ Cutting      9.810190e+05            0.0       8.000000
          CH Gayle         5.752398e+05            0.0      43.333333
          CRD Fernando     3.360120e+05            0.0       9.000000
          DA Warner        8.297190e+05            0.0       8.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [9]:
# concate
# append
# merge